<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching the Dream</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
        <header>
            <p>Matching the Dream</p>
            <ul>
                <li><a href="#">NEW</a></li>
                <li><a href="#">BEST</a></li>
                <li><a href="#">CATEGORY</a></li>
            </ul>
        </header>
        <section>
            <p>Matching the Dream.</p>
            <p>매칭더드림은 각자의 포트폴리오와 관심분야, 비전을 공유하며 유사성을 가진 사람들을 매칭해주는 플랫폼입니다.</p>
            <ul>
                <li>인기 포트폴리오<p>사람들에게 가장 많이 스크랩된 포트폴리오 top 5를 제공하여 최상위 포트폴리오를 열람할 수 있습니다.</p></li>
                <li>신규 포트폴리오<p>새로 유입된 사람들의 포트폴리오만을 정리하여 제공합니다. </p></li>
                <li>분야별 포트폴리오<p>IT, 요식업, 자산 투자, 디자인, 비즈니스, 기타 등등 분야별로 포트폴리오를 분류하여 제공하고 함께 동업 혹은 창업하고 싶거나 스카웃하고 싶은 포트폴리오에 연결될 수 있습니다.</p></li>
            </ol>
            <p>다양한 재능과 비전을 가진 전국 각지의 학생들이 자신과 맞는 파트너를 찾아 꿈을 실현할 수 있는 환경을 만들겠습니다.</p>
        </section>
    </div>
</body>
</html>