<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching the Dream</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="container">
        <header>
            <p>Matching the Dream</p>
            <ul>
                <li><a href="#">NEW</a></li>
                <li><a href="#">BEST</a></li>
                <li><a href="#">CATEGORY</a></li>
            </ul>
        </header>
        <section>
            <input type="text" placeholder="아이디"><br>
            <input type="text" placeholder="비밀번호"><br>
            <button>로그인</button>
        </section>
    </div>
</body>
</html>